body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.faq {
    margin-top: 20px;
}

.faq-item {
    margin-bottom: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.faq-question {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    text-align: center;
    cursor: pointer;
    outline: none;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.faq-answer {
    padding: 15px;
    display: none;
    font-size: 16px;
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
    text-align: center;
}

/* Red Button for Regular FAQ */
.red-btn {
    background-color: #ff4b4b;
    color: white;
}

.red-btn:hover {
    background-color: #e03c3c;
}

/* Yellow Button for Off-Channel vs On-Channel Section */
.yellow-btn {
    background-color: #ffc107;
    color: black;
}

.yellow-btn:hover {
    background-color: #e0a400;
}

.faq-item.active .faq-answer {
    display: block;
}

.list-section {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.list-item {
    width: 45%;
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.list-item h3 {
    background-color: #ff4b4b;
    color: white;
    padding: 10px;
    border-radius: 12px;
}

ul {
    list-style-type: square;
    padding-left: 0;
    text-align: left;
}

ul li {
    margin-bottom: 10px;
    font-size: 16px;
    list-style-position: inside;
}